<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<jmxConfigurator />

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%date [%thread] %-5level %logger{80} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">  
		<file>E:/logs/appBack.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
			<fileNamePattern>E:/logs/quartz.%d{yyyy-MM-dd}.log.zip</fileNamePattern>  
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%-20(%d{HH:mm:ss.SSS} [%thread]) %-5level %logger{80} - %msg%n</pattern>  
		</encoder>
	</appender>

	<logger name="com.myou">
		<level value="INFO" />
	</logger>

	<logger name="org.springframework.jdbc" level="WARN" />

	<logger name="org.springframework">
		<level value="WARN" />
	</logger>

	<root>
		<level value="WARN" />
		<appender-ref ref="stdout" />
		<appender-ref ref="file" />
	</root>
</configuration>